body{
	font-family: Arial, Helvetica, sans-serif;
}

.heading {
	text-align: center;
	text-decoration: underline;
	margin: 5% 0 0 15%;

}
div.header{
	background-color: beige;
	width: 100%;
	position: absolute; /*I wanted the header background colour to be flush to the top and right with no white gaps*/
	left: 0;
	top: 0;
	text-align: center;
}
div#img{
	float: right;
	margin: 5% 3% 0 0;
}

th, td {
	border: 1px solid black;
	padding: .1em .25em .1em .25em; /*text looks less compact within the table*/
}
table {
	border-collapse: collapse; 
}

div.personalInfo {
	margin: auto;
	width: 30%;
	line-height: 1.5em;
}
#headings {
	font-weight: 600;
	text-decoration: underline;
}

div#navbar{
	width: 36%;
	margin: auto;
}
div#ul {
	list-style-type:none;
}
div#navbar ul li a{
	font-size: 1.1em;
	font-weight: 900;
	text-decoration: none;
	display: block;
	padding: .75em;
	color: white;
}
div#navbar ul li {
	background-color: #080808;
	text-align: center;
	display: inline; /*so the list items arrange horizontally*/
	width: 45%; /*all blocks to be same width*/
	float: left;
	margin-right: .5em; /*separate the blocks with a little space*/
}
.special {
	color: slategrey;
	font-style: italic;
}

